<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
<div class="topbar d-none d-md-block">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex gap-4">
        <span><i class="fa fa-clock me-1"></i> {{content.field_time| render|striptags}}</span>
        <a href="mailto:info@manglamgroup.in"
          ><i class="fa fa-envelope me-1"></i> {{content.field_email_address | render|striptags}}</a
        >
      </div>
      <div class="d-flex gap-3">
        <a href="{{ content.field_social_media_links_and_tit[0]['#paragraph'].field_links[0].uri }}"><i class="fab fa-facebook-f"></i></a>
      <a href="{{ content.field_social_media_links_and_tit[1]['#paragraph'].field_links[0].uri }}"><i class="fab fa-instagram"></i></a>
      <a href="{{ content.field_social_media_links_and_tit[2]['#paragraph'].field_links[0].uri }}"><i class="fab fa-linkedin-in"></i></a>
      <a href="{{ content.field_social_media_links_and_tit[3]['#paragraph'].field_links[0].uri }}"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
</div>