<div class="main-page-wrapper">
{% if page.top_header %}{{ page.top_header }}{% endif %}
{{ include("@mangalpath/includes/Header/header.html.twig") }}
<div class="banner-section">
{{ page.banner }}
</div>
<div class="page-content">
{{ page.content }}

<footer class="footer">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4">
      {% if page.footer_first %}{{ page.footer_first }}{% endif %}
      </div>
      <div class="col-6 col-lg-2">
        <h5>Quick Links</h5>
      {% if page.footer_second %}{{ page.footer_second }}{% endif %}
      </div>
      <div class="col-6 col-lg-2">
        <h5>Our Services</h5>
      {% if page.footer_third %}{{ page.footer_third }}{% endif %}
      </div>
      <div class="col-lg-4">
        <h5>Contact Information</h5>

        {% if page.footer_fourth %}{{ page.footer_fourth }}{% endif %}
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <div class="container">
       {% if page.footer_bottom %}{{ page.footer_bottom }}{% endif %}
    </div>
  </div>
</footer>
</div>