<section class="contact-section" id="enquiry-form">
  <div class="container">
    
    <div class="text-center mb-5" data-aos="fade-up">
      <div class="section-badge">{{paragraph.field_sub_title[0].value}}</div>
      <h2 class="section-title">{{paragraph.field_title_full[0].value|raw}}</span></h2>
      <div class="section-line center"></div>
      <p class="section-sub mt-3">{{paragraph.field_description[0].value|striptags}}</p>
    </div>
    <div class="contact-card" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">
        <div class="col-lg-4">
          <div class="contact-info">
            <h3>{{paragraph.field_title[0].value}}</h3>
            <p>{{paragraph.field_connect_des[0].value|striptags}}</p>
              {% for key, i in paragraph.field_common_get_in_touch %}
              {% if key >= 3 %}
                        <div class="ci-item">
              <div class="ci-icon"><i class="{{i.entity.field_icon_class[0].value}}"></i></div>
              <div>
                <h6>{{i.entity.field_title[0].value}}</h6>
                <p>{{i.entity.field_description[0].value|raw}}</p>
              </div>
            </div>
                {# Your processing code here #}
              {% endif %}
            {% endfor %}
            <div class="social-links">
              <a href="{{paragraph.field_common_get_in_touch[0].entity.field_links[0].url.toString()}}" class="social-link"><i class="fab fa-facebook-f"></i></a>
              <a href="{{paragraph.field_common_get_in_touch[1].entity.field_links[0].url.toString()}}" class="social-link"><i class="fab fa-instagram"></i></a>
              <a href="{{paragraph.field_common_get_in_touch[2].entity.field_links[0].url.toString()}}" class="social-link"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="contact-form">
            <h3>{{paragraph.field_titles[0].value}}</h3>
            <p class="sub">{{paragraph.field_contact_des[0].value|striptags}}</p>
            <div class="row g-3">
              {{ drupal_entity('webform', 'mangal_path_get_in_touch_form') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>