<section class="hiw-section">
  <div class="container">
    <div class="text-center mb-5" data-aos="fade-up">
      <div class="section-badge">{{paragraph.field_sub_title[0].value}}</div>
      <h2 class="section-title">{{paragraph.field_title_full[0].value|raw}}</h2>
      <div class="section-line center"></div>
      <p class="section-sub mt-3"{{paragraph.field_description[0].value|striptags}}</p>
    </div>
    <div class="hiw-timeline" data-aos="fade-up" data-aos-delay="100">
      {%for items in paragraph.field_process_inner %}
      
      <div class="hiw-step">
        <div class="hiw-circle">
          <i class="{{items.entity.field_icon_class[0].value}}"></i>
          <span class="step-num">{{items.entity.field_color[0].value}}</span>
        </div>
        <h6>{{items.entity.field_title[0].value}}</h6>
        <p>{{items.entity.field_description[0].value|striptags}}</p>
      </div>
      {% endfor %}
      
    </div>
  </div>
</section>