<!-- BETTER APPROACH (WHY CHOOSE US) -->
<section class="py-section" style="background:var(--light-bg);">
  <div class="container">
    <h2 class="section-title">{{paragraph.field_title_full[0].value|raw}}</h2>
    <p class="section-sub">{{paragraph.field_description[0].value|striptags}}</p>
    
    <div class="row g-4">
      {%for items in paragraph.field_why_choose_loan_inner %}
     
<div class="col-md-6">
        <div class="feature-box">
          <h5><i class="{{items.entity.field_icon_class[0].value}}"></i>{{items.entity.field_color[0].value}}</h5>
          <p>{{items.entity.field_description[0].value|striptags}}</p>
        </div>
      </div>
      {%endfor %}
    
    </div>
  </div>
</section>