<section class="services-section" id="services">
  <div class="container">
    <div class="text-center mb-5" data-aos="fade-up">
      <div class="section-badge">{{paragraph.field_sub_title[0].value}}</div>
      <h2 class="section-title">{{paragraph.field_title_full[0].value|raw}}</span></h2>
      <div class="section-line center"></div>
      <p class="section-sub mt-3">{{paragraph.field_description[0].value|striptags}}</p>
    </div>
    <div class="row g-4">
      <!-- LOANS -->
       {% for loanItems in paragraph.field_our_service_inner %}

       <div class="col-md-6 col-xl-3" data-aos="fade-up" data-aos-delay="0" id="loans">
        <div class="service-card theme-blue">
          <div class="service-card-header">
            <div class="service-icon-wrap" style="color: {{loanItems.entity.field_color[0].value}};"><i class="{{loanItems.entity.field_icon_class[0].value}}"></i></div>
            <div>
              <h4 style="color: {{loanItems.entity.field_color[0].value}};" >{{loanItems.entity.field_sub_title[0].value}}</h4>
              <p>{{loanItems.entity.field_title[0].value}}</p>
            </div>
          </div>
          <ul class="service-list">
        
          {% for items in loanItems.entity.field_list %}
            <li style="--bullet-color: {{loanItems.entity.field_color[0].value}};">
              {{ items.entity.field_titles[0].value }}
            </li>
          {% endfor %}
          </ul>
        
          <div class="service-card-footer">
            <a href="{{loanItems.entity.field_know_more[0].url.toString()}}" class="btn-know-more theme-blue">{{loanItems.entity.field_know_more[0].title}}<i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
       {% endfor %}
    </div>
  </div>
</section>