
<section class="py-section" style="background:var(--white);">
  <div class="container">
    <div class="row g-4">
      <!-- Eligibility -->
      <div class="col-lg-6">
        <h3 class="mb-4" style="font-family:'Playfair Display', serif; color:var(--primary-dark);">Who is Eligible?</h3>
        <div class="eligibility-card">
          <h4><i class="{{paragraph.field_loan_doc[1].entity.field_eligible_inner[0].entity.field_icon_class[0].value}}"></i> {{paragraph.field_loan_doc[1].entity.field_eligible_inner[0].entity.field_title[0].value}}</h4>
          <ul class="check-list">
                {%for items in paragraph.field_loan_doc[1].entity.field_eligible_inner[0].entity.field_list %}
            <li><i class="fa fa-file-arrow-down"></i> {{items.entity.field_titles[0].value}}</li>
            {% endfor %}
          </ul>
          <h4 class="mt-4"><i class="{{paragraph.field_loan_doc[1].entity.field_eligible_inner[1].entity.field_icon_class[0].value}}"></i>{{paragraph.field_loan_doc[1].entity.field_eligible_inner[1].entity.field_title[0].value}}</h4>
          <ul class="check-list">
                   {%for items in paragraph.field_loan_doc[1].entity.field_eligible_inner[1].entity.field_list %}
            <li><i class="fa fa-file-arrow-down"></i> {{items.entity.field_titles[0].value}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- Criteria / Documents -->
      <div class="col-lg-6">
        <h3 class="mb-4" style="font-family:'Playfair Display', serif; color:var(--primary-dark);">Documents Required</h3>
        <div class="eligibility-card">
          <h4><i class="{{paragraph.field_loan_doc[0].entity.field_eligible_inner[0].entity.field_icon_class[0].value}}"></i>{{paragraph.field_loan_doc[0].entity.field_eligible_inner[0].entity.field_title[0].value}}</h4>
          <ul class="check-list">
            {%for items in paragraph.field_loan_doc[0].entity.field_eligible_inner[0].entity.field_list %}
            <li><i class="fa fa-file-arrow-down"></i> {{items.entity.field_titles[0].value}}</li>
            {% endfor %}
          </ul>
          <h4 class="mt-4"><i class="{{paragraph.field_loan_doc[0].entity.field_eligible_inner[1].entity.field_icon_class[0].value}}"></i>{{paragraph.field_loan_doc[0].entity.field_eligible_inner[1].entity.field_title[0].value}}</h4>
          <ul class="check-list">
                {%for items in paragraph.field_loan_doc[0].entity.field_eligible_inner[1].entity.field_list %}
            <li><i class="fa fa-file-arrow-down"></i> {{items.entity.field_titles[0].value}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>